.sport__bolck{
    display: flex;
    
    
}

.sport__wrapper{
    width: 450px;
    padding-top: 130px;
    
}

.sport__description{
    position: relative;
    margin-top: 50px;
    padding-left: 40px;
    margin-bottom: 50px;

      
}

.sport__description::before{
    content: "";
    position: absolute;
    transform: rotate(90deg);   
    width: 120px;
    height: 3px;
    top: 40px;
    left: -60px;
    background-color: #88888888;
}


.sport__button{
    width: 269px;
    height: 51px;
    padding: 12 38;
    background-color: #EA625C;
    color: #FFFFFF;
    &:hover{
        opacity: 0.7;

    }
}
.sport__img{
    width: 400px;
    height: 500px;
    margin-left: auto;
}